body{
    margin: 0px;
    
    background-image: url(blob2.svg);
    background-repeat:no-repeat;
    background-size: cover;
}
.navv{
    display: grid;
    grid-template-columns: 2fr 1fr;

}
.logo{
    color: white;
    font-size: 40px;
    margin-left: 40px;
}
a{
    text-decoration: none;
    color: black
}
a:hover{
    color: #1A67EB;
}
.navv ul{
    list-style-type: none;
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}
.navv li{
    margin-left: 60px;
}
.main{
    text-align: center;
}
.moto{
    font-size: 45px;
}
#start{
    width: 200px;
    height: 50px;
    background-color: #1A67EB;
    color: white;
    font-size: 35px;
    font-weight: 600;
    border: 0px;
    border-radius: 8px;
}
#start:hover{
    border: 1px solid #1A67EB;
    color: #1A67EB;
    background-color: white;
}

.dialog{
    width: 300px;
    height: 350px;
    border: 1px solid #1A67EB;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px #1A67EB;
    
}

.diatit{
    text-align: center;
    color: #1A67EB;
}

input{
    width: 250px;
    height: 35px;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
}
label{
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}
.but{
    text-align: center;
}
.game{
    margin-top: 50px;
    width: 150px;
    height: 40px;
    color: white;
    background-color: #1A67EB;
    border: 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
}
.game:hover{
    border: 1px solid #1A67EB;
    color: #1A67EB;
    background-color: white;
}


.restart{
    margin-top: 50px;
    margin-right:15px;  
    margin-left: 10px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #1A67EB;
    border: 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}
.restart:hover{
    border: 1px solid #1A67EB;
    color: #1A67EB;
    background-color: white;
}

.exit{
    margin-top: 50px;
    margin-left: 15px;
    width: 120px;
    height: 40px;
    color: white;
    background-color: #1A67EB;
    border: 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}
.exit:hover{
    border: 1px solid #1A67EB;
    color: #1A67EB;
    background-color: white;
}

.dialog2{
    width: 300px;
    height: 200px;
    border: 1px solid #1A67EB;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 1px #1A67EB;  
}
.par{
    display: flex;
    justify-content: center;
}

.box{
    border: 5px solid #1A67EB;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 50px;
    cursor: pointer;
    font-size: 150px;
    font-weight: 700;
    
}
.board{
    width: 500px;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
}